.App {
    text-align: center;
}

.drop-zone{
    display: flex;
    justify-content: center;
}

.main-page {
    background-image: url("background-texture.jpg");
    background-size:100% 100%;
    width: 100vw;
    height: 100vh;
    align-content: center;
    display: grid;
    font-family:myFont;
}

.question-wrapper{
    font-family: Verdana,Arial, Helvetica, sans-serif;
}

@font-face {
    font-family:myFont;
    src:url("Metamorphous-Regular.ttf")
}


.game-selection {
    display: inline-grid;
    align-content: center;
    margin-top: auto;
    justify-content: center;
    justify-self: center;
}
.game-selection-button:hover{
    cursor: pointer;

    color: #ffffff;
}

.game-selection-button {
    /*
    background-image: url("selectorBackground2.png");
    background-size:100% 100%;
        text-shadow:
            -3px -3px 1px #000,
            3px -3px 1px #000,
            -3px 3px 1px #000,
            3px 3px 1px #000;

    box-shadow: 5px 5px 2px black;
    color: white;
    transition: 0.3s;
    border-radius: 5px;
    font-weight: bold;
    padding: 20px;
    padding-inline: 50px;

    */
    display: inline-flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 9vmin;
    color: #dca901;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
    cursor: pointer;
}

.top-button {
    margin-top: auto;
    margin-bottom: 5px;
}

.bot-button {
    margin-bottom: auto;
    margin-top: 5px;
}

.option-label{
    color: #dca901;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
}
.game-id > .css-sghohy-MuiButtonBase-root-MuiButton-root, .game-id > .css-sghohy-MuiButtonBase-root-MuiButton-root:hover{
    background-color: #e0a762;
}

.new-game-form {
    display: grid;
    justify-self: center;
    justify-content: center;
    font-size: 7vmin;
}

.new-game-form > * {
    justify-self: center;
}

.new-game-txt-input {
    justify-self: center;
    font-size: 7vmin;
    box-shadow: inset 0px 0px 2px 2px black;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 10px;
}

.spinner-wrp{
    display:flex;
    justify-content: center;
}