
.lobby-wrapper {
    background-image: url("../lobby-background.png");
    background-size: 100% 100%;
    display: inline-block;
    justify-self: center;
    width: 95vw;
    height: 95vh;
    padding: 20px;
}

.lobby-center-wrapper {
    display: flex;
    height: 100%;
    padding-inline: 5vw;
    padding-block: 8vh;
}

.card-adder-wrp {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-adder-wrp > * {
    height: 100%;
    width: 100%;
}

.drop-zone {
    display:flex;
    margin-bottom: auto;
    margin-top: 1vh;
    width: 87%;
    align-self: center;
    height: 90%;
    margin-right: 20px;
    border: 1px dashed rgba(0, 0, 0, 1);
    align-items: center;
    cursor: pointer;
    text-align: center;
}
.inner-file-handling-wrp {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.handled-files-wrp {
    margin-top: 1vh;
    height: 82%;
    border: dashed 1px black;
    width: 85%;
    align-self: center;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.pick-selector{
    display: flex;
    width: 90%;
    align-self: center;
}
.pick-selector>*{
    cursor: pointer;
    border-top: 1px solid;
    border-right: 1px solid;
    padding: 1vmin;
    border-radius: 2px;
}
.linkbutton{
    cursor: pointer;
    padding: 4px;
    background-color: rgba(147, 87, 3, 0.62);
    width: 40%;
    border: 1px solid;

}
.pick-selector >*.selected{
    background-color: rgba(147, 87, 3, 0.62);
}

.pick-selector>*:hover{
    background-color: rgba(147, 87, 3, 0.62);
}

.pick-selector>*:first-child{
    border-left: 1px solid;
}


.add-cards-btn.disabled{
    opacity: 0.3;
}


.add-cards-btn.disabled, .start-button.disabled{
    opacity: 0.3;
    cursor: no-drop;
}

.add-cards-btn {
    opacity: 1;
    display: flex;
    border-top: none;
    height: 15%;
    cursor: pointer;
    align-items: center;
    font-size: 4vmin;
    justify-content: center;
    margin-top: auto;
    font-weight: lighter;
}

.add-cards-btn:hover {
    transform: scale(1.1,1.1);
}

.file-handling-wrp {
    display: flex;
    flex-direction: row;
}


.game-info-wrapper {
    width: 50%;
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
}

.start-container {
    margin-top: auto;
    width: 100%;
    height: 15%;
}

.start-button.disabled{
    opacity: 0.3;
}

.start-button {
    opacity: 1;
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
    padding-right: 3vw;
    font-weight: lighter;
    cursor: pointer;
}

.start-button:hover {
    transform: scale(1.1,1.1);
}

.players-info-wrapper {
    font-size: 4vmin;
    counter-reset: css-counter 0;
    padding-left: 5vw;
    padding-top: 2vh;
}

.players-info-wrapper li {
    display: flex;
    font-size: 5vmin;
    counter-increment: css-counter 1;
    font-weight: lighter;
}

.players-info-wrapper li:before {
    margin-right: 2vmin;
    content: counter(css-counter) ".";
}

.player-name {
    width: 50%;
}

.player-name.ready{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(255, 248, 151, 0.85);
}

.image-preview {
    width: 20%;
    height: 100%;
    cursor: pointer;
}

.image-preview:hover {
    opacity: 0.2;
}
.question-answer-input {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.question-answer-input > * {
    height: 50%;
    width: 100%;
}

.players-info-header-header {
    font-size: 7vmin;
    font-weight: lighter;
}
.players-info-wrapper > ol {
    margin:0;
    padding-left: 0.5vw;
}
.card-preview-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    width: 95%;
    height: 18%;
}
.badge-wrapper{
    display: inline;
    font-size: 60%;
    margin-bottom: 100px;
}