.in-game-header {
    height: 10%;
    font-size: 2vh;
    border: solid black;
    display: flex;
    justify-content: center;
}

.scores-container {
    border: solid black;
    padding: 20px;
    margin: 15px;
}

.scores-header {
    margin: 0;
    margin-bottom: 10px;
}

.player-score-container {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}


.whole-game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.in-game-info-container {
    height: 60%;
    display: flex;
    justify-content: space-between;
}

.left-info-container {
    width: 25%;

}

.middle-info-container {
    width: 50%;
    display: flex;
    justify-content: center;

}

.right-info-container {
    width: 25%;
}

.answer-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-bottom: 10px;
    height: 30%;
}

.answer-section-inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: auto;
}

.answer-button {
    height: 100%;
    border: 1px solid black;
    box-shadow: 1px 1px;
    padding: 20px;
    margin-left:5px;
    text-align: center;
    display:flex;
    justify-content: center;
    margin-right: auto;
    align-items: center;
    transition-duration: 0.2s;
}

.answer-button:hover {
    box-shadow: 2.5px 2.5px 1px;
}

.answer-field {
    width: 20%;
    height: 100%;
    margin-left: auto;
}

.timer-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
  align-items:center;
}

.timer {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-form{
    height:30%;
    width:100%;
    margin-bottom:auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content:center;
}