.in-game-header {
    height: 5%;
    font-size: 2vh;
    display: flex;
    justify-content: center;
}

.scores-container {
    background-image: url("../scores-background.png");
    background-size: 100% 100%;
    padding: 60px 20px 20px;
    margin: 15px;
    width: 80%;
    height: 90%;
    border-radius: 10px;
}

.scores-header {
    margin: 0;
    margin-bottom: 10px;
}

.player-score-container {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding-inline: 60px;
}


.whole-game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.in-game-info-container {
    height: 65%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3vh;
}

.left-info-container {
    width: 35%;
    padding-left: 4vw;
}

.middle-info-container {
    width: 30%;
    display: flex;
    justify-content: center;
    position:relative;
}

.right-info-container {
    width: 35%;
    font-size: 1.5vmax;
}

.answer-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-bottom: 10px;
    height: 30%;
}

.answer-section-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: auto;
}
.answer-button.submit-button {
    margin: 0 auto;
}
.answer-button {
    height: 100%;
    background-color: #eea247;
    background-size:100% 100%;
    box-shadow: 3px 3px 1px black;
    border: 1px black solid;
    border-radius: 10px;
    padding: 20px;
    margin-left: 5px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    margin-right: auto;
    align-items: center;
    transition-duration: 0.2s;
    font-weight: bold;
    text-shadow:
            -1px -1px 1px #000,
            1px -1px 1px #000,
            -1px 1px 1px #000,
            1px 1px 1px #000;
}

.answer-button:hover {
    box-shadow: 4px 4px 2px black;
    cursor: pointer;
}

.answer-button-loading-bar{
    position: absolute;
}

.answer-field {
    width: 20%;
    height: 100%;
    margin-left: auto;
    transition-duration: 0.5s;
    transition-property: background;
    position: relative;
}

.timer-wrapper {
    display: flex;
    justify-content: center;
    margin-top: auto;
    align-items: center;
    margin-bottom: 3vh;
}

.inner-timer-wrapper{
    transition-duration: 2s;
    transition-property: transform, opacity;
    opacity: 1;
}

.inner-timer-wrapper.sliding-out{
    transform: translateY(100px);
    opacity:0;
}

.inner-timer-wrapper.sliding-in{
    opacity: 0;
    transform: translateY(-100px);
}

.timer {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.8vw;
    text-shadow:
            1px 1px 0 #ffffff,
            -1px -1px 0 #ffffff,
            1px -1px 0 #ffffff,
            -1px 1px 0 #ffffff,
            1px 1px 0 #ffffff;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-form {
    height: 30%;
    width: 100%;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.answer-selector-wrapper.fading-in {
    opacity: 0;
}

.answer-selector-wrapper{
    transition-property: opacity;
    transition-duration: 0.8s;
    position: absolute;
    z-index: 10;
    width: 100%;
    padding-block: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    font-size: 1.5vmax;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 3px 3px 1px black;
    background-image: url("../selectorBackground.png");
    background-size: 100% 100%;
}

.answer-selector-wrapper > .btn{
    font-size: inherit;
}